 {% extends 'products/base.html' %}
{% block body %}
 <style>
.parallax {
  /* The image used */
  background-image: url("{{restraunt.image.url}}");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
    background-color:#EDEDED;
    width:50%;
}
.new{
    margin:auto;
}
</style>

<!-- Container element -->
<div class="container">
<div class="parallax"></div>
{% for field in menu %}
    <div class="box">
    <div class="row">
        <div class="col-lg-6 col-xs-6 thumbnail img-fluid">
            <img src="{{field.image.url}}">
            <h3>{{field.name}}</h3>
            <p>{{field.description}}</p>
            {% if field.veg %}
                <i class="fa fa-check-circle" aria-hidden="true"></i> veg
            {% endif %}
            <p>Rs {{field.price}}</p>
        <br>
        </div>
        <div class="new">
            <a href="{% url 'add_to_cart' id=restraunt.id pk=field.id state=restraunt.state city=restraunt.city%}"><button type="button" class="btn btn-success">add</button></a>
        </div>
        </div>
    </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
